:root {
    --bgred: #D6000D;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    color: var(--bgred);
    font-size: 50px;
    margin-top: 35px;
}

header .logo span {
    color: #171717;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    width: 100%;
    margin: 25px auto;
}

header nav ul li #headerlogin {
    display: none;
}

header nav ul li a {
    color: #171717;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}

main img {
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 50px 35px;
}

.mainbanner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.phrase {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.mainbanner h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--bgred);
    margin-bottom: 20px;
}

.mainbanner input[type="submit"] {
    width: 80%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--bgred);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 100px;
}

.features {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.callaction {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.features ul li {
    margin-bottom: 25px;
}

.features ul li i {
    color: var(--bgred);
    margin-right: 15px;
}

.promo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.promo input[type="number"] {
    width: 70%;
    border: none;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.promo input[type="submit"] {
    width: 80%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--bgred);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 100px;
}

.contentdepoimentos {
    width: 100%;
}

.clientphoto {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--bgred);
    float: left;
}

.text {
    margin-left: 75px;
}

.depoimento {
    width: 90%;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #dcdcdc;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.depoimento h2 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.depoimento h3 {
    margin-top: 5px;
    font-weight: bold;
}

footer {
    padding: 15px 20px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

footer span.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

footer h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

footer h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.adress,
.contact {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

footer p {
    width: 49%;
    margin-bottom: 20px;
}

footer i {
    font-size: 50px;
    margin-top: 15px;
    margin-right: 30px;
    color: var(--bgred);
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {

    header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        margin-bottom: 5%;
        padding: 0 2%;
    }

    span.logo {
        margin-top: 0;
    }

    header nav ul li #headerlogin {
        display: block;
        border: none;
        color: white;
        font-weight: bold;
        background-color: var(--bgred);
        border-radius: 10px;
        padding: 10px 50px;
    }

    .mainbanner {
        display: flex;
        flex-flow: row nowrap;
        max-width: 1200px;
        margin: 0 auto 15%;
    }

    .mainbanner>img {
        width: 50%;
    }

    .controls {
        display: flex;
        flex-flow: column;
    }

    .features {
        display: flex;
        flex-flow: row nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% 0;
        max-width: 1200px;
        margin: 0 auto;
    }

    .features > img {
        width: 50%;
    }

    .promo {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        padding: 0 10% 0;
        max-width: 1200px;
    }
    .contentdepoimentos {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 5% 0;
        width: 100%;
        box-sizing: border-box;
    }

    .depoimento {
        margin: 10px;
    }
}